<nav class="navbar navbar-default navbar-fixed-top" *ngIf="auth.isAuthenticated()">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navlink" href="#" >Japan Impact</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="apply" class="navlink">Ma candidature</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="auth.isAuthenticated()">
        <li><a class="navlink" href="#" (click)="auth.logout()"><b class="glyphicon glyphicon-off"></b> Déconnexion</a></li>
      </ul>
    </div>
  </div>
</nav>

<main class="container" *ngIf="auth.isAuthenticated()">
  <br/>
  <br/>
  <br/>
  <router-outlet></router-outlet>
</main>

<main class="container" *ngIf="!auth.isAuthenticated()">
  <br>
  <div class="jumbotron">
    <h1>Extranet Staffs Japan Impact</h1>
    <p>Bienvenue sur l'Extranet Japan Impact. Sur cet espace vous pouvez candidater pour rejoindre notre staff, puis recevoir les informations liées
    à votre participation.</p>
    <p>Pour postuler ou consulter vos informations, connectez vous.</p>
    <p>
      <a class="btn btn-lg btn-success" (click)="auth.login()" role="button">Connexion &raquo;</a>
    </p>
  </div>
</main>
